* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Inria Serif', serif;
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 25px;
    padding: 5px;
}

body {
    background: black;
    color: white;
}

#header{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.container {
    /* placement of list to be centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-image: url(../media/homePicture1.jpg);
    background-size: 100vw;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    gap: 3vw;
    padding-bottom: 5vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    display: inline-block;
    list-style: none;
    /* horizontal spacing between li */
    margin: 0.5vw 7vw;
}

a {
    font-family: 'Inria Sans', sans-serif;
    color: rgb(181, 181, 181);
    text-decoration: none;
    font-size: 1.5vw;
    position: relative;
    padding: 0 0;
}

/* animation for hover */
a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 138, 58);
    height: 0.4vw;
    width: 0;
    left: 0 ;
    bottom: -0.6vh;
    transition: 0.3s;
}

.homeHeader a:hover {
    color: white;
}

.homeHeader :hover:after {
    width: 100%;
}

.homeTitle {
    display: flex;
    margin-top: 15vh;
    text-align: center;
    align-items: center;
}


.homeTitle h1 {
    font-family: 'Inria Serif', serif;
    font-size: 5vw;
    font-weight: lighter;
    color: white;
}

.homeTitle span {
    font-family: 'Inria Serif', serif;
    font-weight: bolder;
    line-height: 0.7;
    text-shadow: 4px 6px 4px black;
    font-size: 6vw;
    color:  rgb(255, 138, 58);
}

.homeDescription {
    line-height: 0.9;
    text-align: center;
    align-items: center;
    font-weight: lighter;
}

.homeDescription p {
    font-family: 'Inria Serif', serif;
    color: white;
    font-size: 1.7vw;
}

.homeDescription span {
    color:  rgb(255, 138, 58);
}


/* Ticket button */

.button {
    font-family: 'Inria Serif', serif;
    font-size: 1.7vw;
    margin: 0.5vw 20vw;
    background: rgb(255, 138, 58);
    border-radius: 25px;
    padding: 0.4vw 3vw;
    color: white;
    text-decoration: none;
    transition: font-weight 0.1s;
    transition: background 0.3s;
}

.button:hover {
    font-weight: bold;
    background:rgb(170, 91, 39);
}

/* Overview */

.overviewContainer {
    padding: 5vw 7vw;
}

.row {
    display: flex;
    justify-content: space-between;
}

.leftOverview {
    width: 60%;
}

.leftOverview h2 {
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-size: 2vw;
}

.leftOverview span {
    color:  rgb(255, 138, 58);
}

.rightOverview {
    width: auto;
}

.rightOverview p {
    font-family: 'Inria Serif', serif;
    font-size: 1.5vw;
}

.rightOverview p i {
    margin-right: 1vw;
}

.rightOverview span {
    text-decoration: underline;
}

#overviewAddress {
    text-align: right;
    text-decoration: none;
}

#overviewAddress i {
    color: black;
}

#rightOverviewLine {
    margin-top: 3vw;
}


/* Exhibition Section */

#exhibition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#exhibition h3 {
    font-family: 'Inria Serif', serif;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 2vw;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;
    margin: 0 3%;
}

.gridList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleandtext img {
    display: flex;
    align-self: center;
    width: 60vh;
    height: 55vh;
    margin-bottom: 2%;
}

.titleandtext{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.gridList h4 {
    font-family: 'Inria Serif', serif;
    font-size: 4.5vh;
    font-weight: lighter;
}

.gridList p {
    padding: 10px 15vh;
    font-size: 1.8vh;
    text-align: center;
    width: 100%;
}

/* Account Promotion */
#member {
    margin-top: 5vw;
    width: 100%;
    background-image: url(../media/pic1.png);
    background-size: 100vw 70vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.container1 {
    display: flex;
    padding: 2vw;
    background: rgba(0, 0, 0, 0.5);
    gap: 8vw;
}

.left {
    display: flex;
    align-items: center;
    padding-left: 5vw;
}

.left h2 {
    font-family: 'Inria Serif', serif;
    font-size: 3vw;
    font-weight: 100;
    opacity: 1;
}

.left span {
    color:  rgb(255, 138, 58);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.right p {
    font-family: 'Inria Serif', serif;
    font-weight: 100;
    font-size: 1.3vw;
    width: 50vw;
    height: 4vw;
    word-spacing: 1vw;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    width: 17vw;
    background:rgb(255, 138, 58);
    color: white;
    padding: 0.5vw;
    font-family: 'Inria Serif', serif;
    font-size: 1.3vw;
    word-spacing: normal;
    transition: font-weight 0.1s;
    transition: background 0.3s;
}

.btn:hover {
    font-weight: bold;
    background:rgb(170, 91, 39);
}

/* Contact Page */

.contactContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding : 5vw;
}

.contactLeft h2{
    font-family: 'Inria Serif', serif;
    font-size: 400%;
    margin-bottom: 5vh;
}

.contactLeft span {
    color: rgb(255, 138, 58);
}

.contactIcons {
    padding-top: 1vh;
    padding-left: 2vh;
}

.contactIcons i {
    color: rgb(255, 138, 58);
    font-size: 4vh;
    margin-right: 1.5vh;
    /* align the text to be in the middle of the icons */
    vertical-align: middle; 
}

.contactIcons a {
    font-family: 'Inria Serif', serif;
    font-size: 1.7vw;
    color: white;
}

.contactRight {
    flex-basis: 60%;
}

.contactRight form {
    width: 100%;
    overflow: hidden;
}

form input, form textarea {
    float: right;
    clear: both;
    width: 65%;
    border: 0;
    outline: none;
    background: rgb(48, 48, 48);
    padding: 1vw;
    margin: 1vw 0;
    color: white;
    font-size: 1.5vw;
}

form button {
    float: right;
    clear: both;
}