* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Inria Serif', serif;
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 25px;
    padding: 5px;
}

body {
    background: black;
    color: white;
}

#header{
    width: 100vw;
    height: 90vh;
    background-image: url(../media/homePicture1.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    /* placement of list to be centered */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    display: inline-block;
    list-style: none;
    /* horizontal spacing between li */
    margin: 0.5vw 7vw;
}

a {
    font-family: 'Inria Sans', sans-serif;
    color: rgb(181, 181, 181);
    text-decoration: none;
    font-size: 1.5vw;
    position: relative;
    padding: 0 0;
}

/* animation for hover */
a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 138, 58);
    height: 0.4vw;
    width: 0;
    left: 0 ;
    bottom: -0.6vh;
    transition: 0.3s;
}

.homeHeader a:hover {
    color: white;
}

.homeHeader :hover:after {
    width: 100%;
}

/* Europe Gallery */

/* The box */

.collection_highlights_title {
    padding-left: 5vw;
}

.container0 {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60vh;
    padding: 50px;
    background-color: gray;
}

#slide {
    width: max-content;
    margin-top: 50px;
}

.item {
    width: 15vw;
    height: 40vh;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(20%, -50%);
    border-radius: 10px;
    box-shadow: 0 30px 50px #313131;
}

.item:nth-child(1),
.item:nth-child(2) {
    left:0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left:calc(50% + 220px);
}

.item:nth-child(5) {
    left: calc(50% + 440px);
}

.item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 8vw;
    width: 30vw;
    text-align: left;
    padding: 0;
    color: white;
    transform: translate(0,-50%);
    display: none;
    font-family: 'Inria Serif', serif;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 11111;
}

.item .name {
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 0.8s ease-in-out forwards;
}

.item .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out forwards;
}

.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;    
    animation: showcontent 1.3s ease-in-out forwards;
    transition: font-weight 0.1s;
    transition: background 0.3s;
}

.item button:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }to {
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }

}

.buttons {
    position: absolute;
    bottom: 2vh;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

/* next and prev buttons */
.buttons button {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 1px solid rgb(255, 138, 58);
    transition: 0.3s;
}

.buttons button:hover {
    background-color: black;    
}

.buttons i {
    color: rgb(255, 138, 58);
}

/* Section 2 */
.box {
    width: 100vw;
    height: 55vh;
}

.section_2{
    padding: 3vw;
    display: flex;
}

.left{
    padding-left: 5vw;
}

.left > h1 {
    font-size: 5vh;
}

.left > h1 > span {
    color: rgb(255, 138, 58);

}

.left > p {
    font-size: 1.5vw;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8vh;
    gap: 3vh;
}

/* Ticket button */

.button {
    font-family: 'Inria Serif', serif;
    font-size: 1.7vw;
    margin: 0.5vw 20vw;
    background: rgb(255, 138, 58);
    border-radius: 25px;
    padding: 0.4vw 3vw;
    color: white;
    text-decoration: none;
    transition: font-weight 0.1s;
    transition: background 0.3s;
}

.button:hover {
    font-weight: bold;
    background:rgb(170, 91, 39);
}

/* Contact Page */

.contactContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding : 5vw;
    background-color: #313131;
}

.contactLeft h2{
    font-family: 'Inria Serif', serif;
    font-size: 400%;
    margin-bottom: 5vh;
}

.contactLeft span {
    color: rgb(255, 138, 58);
}

.contactIcons {
    padding-top: 1vh;
    padding-left: 2vh;
}

.contactIcons i {
    color: rgb(255, 138, 58);
    font-size: 4vh;
    margin-right: 1.5vh;
    /* align the text to be in the middle of the icons */
    vertical-align: middle; 
}

.contactIcons a {
    font-family: 'Inria Serif', serif;
    font-size: 1.7vw;
    color: white;
}

.contactRight {
    flex-basis: 60%;
}

.contactRight form {
    width: 100%;
    overflow: hidden;
}

form input, form textarea {
    float: right;
    clear: both;
    width: 65%;
    border: 0;
    outline: none;
    background: rgb(48, 48, 48);
    border: 1px solid white;
    padding: 1vw;
    margin: 1vw 0;
    color: white;
    font-size: 1.5vw;
}

form button {
    float: right;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    width: 17vw;
    height: 3vw;
    background:rgb(255, 138, 58);
    color: white;
    padding: 1vw;
    font-family: 'Inria Serif', serif;
    font-size: 1.7vw;
    word-spacing: normal;
    transition: font-weight 0.1s;
    transition: background 0.3s;
}

form button:hover {
    cursor: pointer;
    font-weight: bold;
    background:rgb(170, 91, 39);
}
