* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Inria Serif', serif;
}

body {
    background: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Media/homePicture1.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    /* placement of list to be centered */
    padding-top: 34px;
    padding-left: 30%;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    display: inline-block;
    list-style: none;
    /* horizontal spacing between li */
    margin: 5px 75px;
}

a {
    font-family: 'Inria Sans', sans-serif;
    color: rgb(181, 181, 181);
    text-decoration: none;
    font-size: 30px;
    position: relative;
    padding: 0 0;
}

/* animation for hover */
a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 138, 58);
    height: 6px;
    width: 0;
    left: 0 ;
    bottom: -6px;
    transition: 0.3s;
}

.homeHeader a:hover {
    color: white;
}

.homeHeader :hover:after {
    width: 100%;
}

.row2 {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}

.leftSide, .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81vh;
    width: 100%;
}

.leftSide a, .rightSide a {
    color: white;
}

.leftSide:hover, .rightSide:hover {
    transition: width 0.3s;
    width: 120%;
}

.leftSide {
    background-image: url(/test-project/media/homePicture1.jpg);
    background-position: center;
    background-size: cover;
}

.rightSide {
    background-image: url(/test-project/media/e281a0c8098828a8fb489063101f40ef.jpg);
    background-position: center;
    background-size: cover;
}

.quote {
    margin-top: 7%;
    font-size: 12px;
    text-align: center;
}
