* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Inria Serif', serif;
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 25px;
    padding: 5px;
}

.body {
    background-color: black;
}

#header{
    background-color: black;
    width: 100vw;
    background-size: cover;
    background-position: center;
}


.container {
    /* placement of list to be centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-size: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    display: inline-block;
    list-style: none;
    /* horizontal spacing between li */
    margin: 0.5vw 7vw;
}

a {
    font-family: 'Inria Sans', sans-serif;
    color: rgb(181, 181, 181);
    text-decoration: none;
    font-size: 1.5vw;
    position: relative;
    padding: 0 0;
}

/* animation for hover */
a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 138, 58);
    height: 0.4vw;
    width: 0;
    left: 0 ;
    bottom: -0.6vh;
    transition: 0.3s;
}

.homeHeader a:hover {
    color: white;
}

.homeHeader :hover:after {
    width: 100%;
}


/* content */

.productContainer {
    display: block;
    height: 300vh;
    padding-left: 16vh;
    /* background-color: bisque; */
}

.productBlocking {
    display: flex;
    flex-direction: row;
    max-width: 180vh;
    /* background-color: aqua; */
}

/* left side */
.left {
    width: 36%;
    /* background-color: yellowgreen; */
}

.img img{
    width: 58vh;
}

.imgdesc {
    color: white;
    padding-top: 2.5vh;
}

.br {
    padding-top: 500px;
}

.imgdesc h2 {
    color: white;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-size: 2.5vh;
}

.imgdesc p {
    color: white;
    font-size: 1.8vh;
}

/* right side */

.right{
    display: flex;
    margin-left: 12vh;
    width: 55%;
    /* background-color: brown; */
}

.ticketContainer {
    margin-top: 0.3vh;
    margin-left: 1.5vh;
    width: 90vh;
    /* background-color: blue;
    border-width: 0.4vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: rgb(255, 138, 58); */
}

.ticketContainer h1 {
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
}



/* grid */

.grid {
    display: grid;
    gap: 2vh 5vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.ticketBox{
    background-color: black;
    border-radius: 1vh;
}

.ticketHead img {
    width: 100%;
}

.ticketBody {
    padding-top: 3vh;
    text-align: center;
}

.ticketBody h2{
    font-size: 2.3vh;
    color: rgb(255, 138, 58);
}

.ticketBody span {
    color: white;
}

.ticketFooter {
    text-decoration: none;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}

.ticketFooter p{
    font-size: 1.2vh;
    line-height: 0.1em;
}

.ticketFooter h3 {
    font-size: 1.8vh;
    line-height: 0.1em;
}

.rightFooter {
    text-align: right;
}
